<header>
  <%= link_to "List App", root_path %>

  <div data-controller="dropdown">
    <span data-action="click->dropdown#toggle" style="cursor: pointer;">
      <%= current_user.name %>
    </span>
    <ul data-dropdown-target="menu" hidden>
      <li><%= link_to "通知", notifications_path %></li>
      <li><%= link_to "アカウント情報", edit_user_registration_path %></li>
      <li>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>
</header>
