<%= turbo_stream.replace "item_#{@item.id}" do %>
  <li id="item_<%= @item.id %>" class="check-item">
    <%= button_to toggle_check_item_path(@item), method: :patch do %>
      <% if @item.is_checked %>
        <span class="check-item--checked">☑ <%= @item.name %></span>
      <% else %>
        <span>☐ <%= @item.name %></span>
      <% end %>
    <% end %>
  </li>
<% end %>
